@using ABCHospital.Models
@model Patient
@{

    ViewBag.Title = "GetDetails";
}

<h2>GetDetails</h2>
<table align="center" border="1"border: 1px solid black;>

    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>@Model.age</td>
    </tr>
    <tr>
        <th>Bg</th>
        <td>@Model.bg</td>
    </tr>

</table>

